.outer {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #bbbbbcc9;
  z-index: 9999;
}
.close {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.inner {
  background: white;
  padding: 24px;
  border-radius: 24px;
  width: 35%;
}

@media screen and (max-width: 900px) {
  .inner {
    background: white;
    padding: 24px;
    border-radius: 24px;
    width: 79%;
  }
}
