.outer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #bbbbbcc9;
  z-index: 9999;
}
.inner {
  background: white;
  padding: 24px;
  border-radius: 24px;
  width: 35%;
}
