.dash_top {
  background: #fff;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;
  border-radius: 24px;
}
.flexButtons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.del {
  padding: 14px 22px;
  border-radius: 25px;
  color: white;
  background: rgb(164, 29, 29);
  border: none;
}
.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.red_sched {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.trains {
  display: flex;
  gap: 15px;
  align-items: center;
}
.train {
  display: flex;
  padding: 8px 16px;
  align-items: flex-start;
  gap: 16px;
  border-radius: 100px;
  border: solid 1px green;
  background: var(--Darkgrey-Black, #0a0a0a);
}
.trainInactive {
  display: flex;
  padding: 8px 16px;
  align-items: flex-start;
  border: solid 1px red;
  gap: 16px;
  border-radius: 100px;
  background: var(--Darkgrey-Black, #f6f6f6);
}
.trainInactive > p {
  margin: 0px;
  color: white;
  color: #4c4d4d;
}
.train > p {
  margin: 0px;
  color: white;
}
.movement {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.loca > h1 {
  color: var(--Text-Default, #0f0f0f);
  leading-trim: both;
  text-edge: cap;
  font-family: Spline Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0px;
}
.loca > p {
  color: var(--Text-Secondary, #4c4d4d);
  /* text-align: right; */
  margin: 0px;
  /* Desktop/Body */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.currentLocation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.currentLocation > p {
  margin: 5px;
}
.point {
  height: 8px;
  width: 9px;
  border-radius: 50px;
  margin-top: 20px;
  background-color: #249645;
}
.currentLocation > p:nth-child(2) {
  color: var(--Text-Secondary, #4c4d4d);

  /* Desktop/Caption */
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
}
.currentLocation > p:nth-child(3) {
  color: var(--Green-600, #249645);

  /* Mobile/Caption */
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 160% */
}
.local {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.active {
  border: solid 3px green;
  cursor: pointer;
  padding: 5px;
  border-radius: 100px;
  transition: all ease-in-out 0.3s;
}
.Inactive {
  cursor: pointer;
  padding: 5px;
  transition: all ease-in-out 0.3s;
}
.trains {
  position: relative;
}
.trainSvg {
  position: absolute;
  left: 35vw;
}
@media screen and (max-width: 900px) {
  .red_sched {
    display: block;
  }
  .trains {
    display: flex;
    overflow: scroll;
    gap: 15px;
    align-items: center;
  }
  .movement {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .trainSvg {
    position: absolute;
    left: 11vw;
    top: 20vh;
  }
  .local {
    display: flex;
    gap: 27px;
    justify-content: space-between;
    align-items: center;
    overflow: scroll;
  }
}
