@font-face {
  font-family: "Spline sans";
  src: url("/Spline_Sans/SplineSans-VariableFont_wght.ttf");
  font-weight: 500;
  font-style: normal;
}
h1 {
  font-family: "Spline sans";
}
p {
  font-family: "Spline sans";
}
h2 {
  font-family: "Spline sans";
}
