.name {
  display: flex;
  gap: 50px;
}
.form {
  display: flex;
  gap: 30px;
  flex-direction: column;
}
.btn {
  width: 30%;
}
.name > div {
  width: 90%;
}
.error {
  color: red;
  font-size: 12px;
}
