.dash_layout {
  background: #f9fafb;
  height: 100vh;
  padding-bottom: 8%;
  padding-top: 50px;
}
.filter_div {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  margin-bottom: 40px;
}
.filter_div > div {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 0;
}
.filter_div > div > p {
  //styleName: Desktop/Caption;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}
.add_agent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add_agent_btn {
  width: 10%;
}
.new_agent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.agent_inner {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 24px;
}
.new_agent svg {
  cursor: pointer;
}
.new_agent h2 {
  margin: 0px;
}
.new_agent > div > p {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #a4a6a6;
}
.input_drill > div label {
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #004bff;
}
.modalOuter {
  background: rgba(0, 0, 0, 0.29);
  z-index: 2;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}
.modalInner {
  padding: 20px 15px;
  width: 40vw;
  z-index: 3;
  height: 30vh;
  display: flex;
  background: white;
  flex-direction: column;
  gap: 30px;
  border-radius: 20px;
  justify-content: space-around;
  align-items: center;
}
.conundrum {
  display: flex;
  align-items: center;

  gap: 20px;
  width: 48%;
  justify-content: space-evenly;
}
.conundrum div {
  width: 50%;
  width: 68%;
  text-align: center;
}
@media screen and (max-width: 900px) {
  .add_agent {
    width: fit-content;
  }
  .modalInner {
    padding: 20px 15px;
    width: 74vw;
    z-index: 3;
    height: 30vh;
    display: flex;
    background: white;
    flex-direction: column;
    gap: 30px;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
  }
}
